/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
@import "variables";

.section-09-instagram-feed{
    box-sizing: border-box;
    width: 100%;
    max-width: $main-max-width;
    padding: 5.71rem 1.43rem 7.14rem;
    margin: 0 auto;
}