/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
//Variables Body
$body-background-color: #F6F6F6;
$body-text-color: #43525A;
$body-font-size: 14px;

//Variables Header
$header-background-color: #F2F2F2;
$header-text-color: #43525A;
$header-text-hover-color: #28A5BE;
$header-font-size: 1.12rem;
$header-transition-bezier: cubic-bezier(0.63, -0.42, 0.46, 1.28);
$header-max-width: 1330px;

//Variables Main
$main-max-width: 1330px;
//Variables Main - Section 01
$section-01-background-color: #f2f2f2;
$section-01-link-text-color: #fff;
$section-01-link-1-background-color:#28A5BE;
$section-01-link-2-background-color:#2D2D2D;

//Variables Main - Section 02
$section-02-background-color: #fff;
$section-02-border-color: #dedede;
$section-02-link-text-color: #fff;
$section-02-link-background-color:#2D2D2D;
$section-02-max-width: 1420px;

//Variables Main - Section 03
//None at this time

//Variables Main - Section 04
$section-04-background-color: #fff;
$section-04-text-color: #43525A;
$section-04-border-color: #ddd;
$section-04-pin-shadow-color: rgba(0, 0, 0, 0.5);
$section-04-max-width: 1420px;


//Variables Main - Section 06
$section-06-max-width: 1420px;
$section-06-shadow-span-background-color: #43525A;
$section-06-link-text-color: #28A5BE;
$section-06-link-text-hover-color: #fff;
$section-06-link-border-color: #28A5BE;
$section-06-link-hover-background-color: #28A5BE;

//Variables Main - Section 07
$section-07-text-color: #fff;
$section-07-gradient-color-1: #1BA5C0;
$section-07-gradient-color-2: #0C6B8C;
$section-07-max-width: 1420px;

//Variables Main - Section 08
$section-08-main-text-color: #43525A;
$section-08-secondary-text-color: #28A5BE;
$section-08-input-border-color: #ddd;
$section-08-button-color: #28A5BE;
$section-08-button-text-color: #fff;

//Variables Main - Section 09
//None at this time

//Variables Main - Section 10
$section-10-background-color: #BEEADF;
$section-10-text-color: #43525A;
$section-10-max-width: 1420px;

//Variables Footer
$footer-background-color: #F6F6F6;
$footer-text-hover-color: #28A5BE;
$footer-copyright-text-color: #6F8794;
$footer-link-text-color: #43525A;
$footer-border-color: #ccc;
$footer-separator-color: #DDDDDD;
$footer-font-size: 0.82rem;
$footer-max-width: 1330px;