@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,900&subset=latin-ext");
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.header {
  background-color: #F2F2F2;
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
}

.container-header {
  padding: 2.15rem 0.7rem;
  box-sizing: border-box;
  color: #43525A;
  font-size: 1.12rem;
  width: 100%;
  max-width: 1330px;
  display: block;
  margin: 0 auto;
}

.container-header .container-menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-header .container-menu-header .menu-izq-header {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  align-items: center;
}

.container-header .menu-link {
  padding: 0.32rem;
  margin: 0.32rem;
  font-size: 1.12rem;
  color: #43525A;
  text-decoration: none;
  transition: all 0.35s cubic-bezier(0.63, -0.42, 0.46, 1.28);
  transition-delay: initial;
  cursor: pointer;
}

.container-header .menu-link:hover {
  transform: translateY(-0.35rem);
  color: #28A5BE;
}

.container-header .menu-separator {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  width: 1px;
  background-color: #43525A;
  margin: 0 0.7rem;
  height: 1.7rem;
}

.container-header .boton-menu-more {
  border: none;
  outline: none;
  font-size: 1.12rem;
  padding: 0.32rem;
  margin: 0.32rem;
  color: #43525A;
  transition: all 0.35s cubic-bezier(0.63, -0.42, 0.46, 1.28);
  transition-delay: initial;
  background: transparent;
  cursor: pointer;
}

.container-header .boton-menu-more:hover, .container-header .boton-menu-more-active {
  color: #28A5BE;
  cursor: pointer;
}

.container-header .container-menu-header .svg-menu-more {
  display: inline-block;
  overflow: visible;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
}

.container-header .container-menu-header .container-logo-centro-header {
  transition: all 0.5s cubic-bezier(0.63, -0.42, 0.46, 1.28);
}

.container-header .container-menu-header .container-logo-centro-header:hover {
  transform: translateY(-0.35rem);
}

.container-header .container-menu-header .logo-img {
  display: block;
  flex: 0 0 14.28571rem;
  width: 14.28571rem;
}

.container-header .container-menu-header .menu-der-header {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  align-items: center;
  justify-content: flex-end;
}

.container-header .menu-configurator {
  padding: 0.32rem;
  margin: 0.32rem;
  font-size: 1.12rem;
  font-weight: bold;
  border-bottom: 0.14286rem solid #28A5BE;
  color: #43525A;
  text-decoration: none;
  transition: all 0.35s cubic-bezier(0.63, -0.42, 0.46, 1.28);
  transition-delay: initial;
  cursor: pointer;
}

.container-header .menu-configurator:hover {
  transform: translateY(-0.35rem);
  color: #28A5BE;
}

.container-header .menu-carrito {
  padding: 0.32rem;
  margin: 0.32rem;
  color: #43525A;
  transition: all 0.35s cubic-bezier(0.63, -0.42, 0.46, 1.28);
  transition-delay: initial;
  cursor: pointer;
}

.container-header .menu-carrito:hover {
  transform: translateY(0.35rem);
}

.container-header .svg-carrito {
  display: inline-block;
  overflow: visible;
  width: 1.35em;
  height: 1.35em;
  vertical-align: -0.25em;
}

.container-header .menu-extra {
  display: flex;
  align-items: center;
  padding: 0;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.63, -0.42, 0.46, 1.28);
}

.container-header .menu-extra-visible {
  padding: 1.07143rem 0;
  opacity: 1;
}

/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.section-01-index {
  background-image: url("../img/Section-01-Background.jpg");
  background-color: #f2f2f2;
  position: relative;
  display: block;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 5.7rem;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container-section-01 {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 1330px;
  padding: 0 1.42rem;
  margin: 0 auto;
}

.container-section-01 .content-section-01 {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 25rem;
  width: 100%;
  margin: 15vh 5.71429rem 15vh 0;
}

.container-section-01 .content-section-01 h1 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin: 0 0 1.43rem;
  line-height: 3.86rem;
}

.container-section-01 .content-section-01 p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.28rem;
  line-height: 160%;
  margin: 0 0 2.15rem;
}

.container-section-01 .container-link-section-01 {
  display: block;
  margin-top: 1.78rem;
}

.container-section-01 .container-link-section-01 .double-link-section-01 {
  display: flex;
  align-items: center;
  font-size: 1.28rem;
}

.container-section-01 .container-link-section-01 .double-link-section-01 .link-1-section-01 {
  padding: 1.57rem 1.92rem;
  font-size: 1.28rem;
  text-align: center;
  position: relative;
  z-index: 2;
  display: block;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #28A5BE;
  color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(1);
}

.container-section-01 .container-link-section-01 .double-link-section-01 .link-1-section-01:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.container-section-01 .container-link-section-01 .double-link-section-01 .link-2-section-01 {
  padding: 0.85rem 1.71rem;
  font-size: 1.14rem;
  text-align: center;
  position: relative;
  z-index: 1;
  display: block;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #2D2D2D;
  color: #fff;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container-section-01 .container-link-section-01 .double-link-section-01 .link-2-section-01:hover {
  padding: 0.85rem 2.28rem;
  cursor: pointer;
}

.container-section-01 .container-image-section-01 {
  display: block;
  opacity: 1;
  transform: translateY(0);
  overflow: visible;
  position: relative;
  transform: translateY(3.57143rem);
  opacity: 0;
  transition: 1s opacity cubic-bezier(0.165, 0.84, 0.44, 1), 13s transform cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container-section-01 .on-image-loaded {
  opacity: 1;
  transform: translateY(0);
}

.container-section-01 .container-image-section-01 .image-section-01 {
  position: absolute;
  left: 0;
}

/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.section-02-surface {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dedede;
  position: relative;
  margin-bottom: -5.7rem;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1420px;
  top: -5.7rem;
  z-index: 2;
  box-sizing: border-box;
}

.section-02-surface .image-section-02 {
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  width: 39.3rem;
}

.section-02-surface .content-section-02 {
  display: block;
  padding: 4.28rem;
}

.section-02-surface .content-section-02 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 2.28rem;
  line-height: 2.85rem;
  margin: 0 0 1.78rem;
}

.section-02-surface .content-section-02 p {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  margin: 0.72rem 0;
  font-size: 1rem;
  line-height: 160%;
}

.content-section-02 .container-link-section-02 {
  display: block;
  margin-top: 2.75rem;
}

.content-section-02 .container-link-section-02 .single-link-section-02 {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.content-section-02 .container-link-section-02 .single-link-section-02 .link-section-02 {
  padding: 0.72rem 1.28rem;
  text-align: center;
  position: relative;
  z-index: 1;
  display: block;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #2D2D2D;
  color: #fff;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content-section-02 .container-link-section-02 .single-link-section-02 .link-section-02:hover {
  padding: 0.72rem 1.43rem;
  cursor: pointer;
}

/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.section-03-super-practical {
  display: block;
  padding: 5.72rem 1.43rem;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1330px;
}

.section-03-super-practical .intro-section-03 {
  display: block;
  text-align: center;
  margin: 0 auto 3.2rem;
  max-width: 64.3rem;
}

.section-03-super-practical .intro-section-03 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 2.28rem;
  line-height: 2.85rem;
  margin: 0 0 1.78rem;
}

.section-03-super-practical .intro-section-03 p {
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}

.section-03-super-practical .container-items-section-03 {
  display: flex;
}

.section-03-super-practical .container-items-section-03 .item-section-03 {
  display: block;
  flex: 1 1 100%;
  box-sizing: border-box;
  margin: 1.07rem 2.14rem;
  text-align: center;
}

.section-03-super-practical .container-items-section-03 .item-section-03 .item-image-section-03 {
  width: 100%;
  height: 11.43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 2.14rem;
}

.section-03-super-practical .container-items-section-03 .item-section-03 h3 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.43rem;
  line-height: 130%;
  margin: 0 0 1.43rem;
}

.section-03-super-practical .container-items-section-03 .item-section-03 p {
  margin: 0;
  font-size: 1rem;
  line-height: 160%;
}

/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.section-04-index-image-configurator {
  background-image: url("../img/Section-04-Modules-Desk.jpg");
  height: 580px;
  background-position: center center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1420px;
  padding: 0 1.43rem;
  margin: 0 auto;
}

.container-pin-section-04 {
  position: absolute;
}

.container-pin-active-section-04 {
  z-index: 2;
}

.container-pin-section-04 .pin-button-section-04 {
  position: relative;
  z-index: 2;
  width: 4.57rem;
  height: 4.57rem;
  background-color: #fff;
  color: #43525A;
  border: 1px solid #ddd;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotate(0) scale(1);
}

.container-pin-section-04 .pin-button-section-04:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
  transform: rotate(20deg);
  cursor: pointer;
}

.container-pin-section-04 .pin-button-section-04.pin-button-active-section-04 {
  transform: rotate(45deg) scale(0.8);
}

.container-pin-section-04 .pin-button-section-04 .svg-inline-section-04 {
  display: inline-block;
  width: 0.875em;
  height: 1em;
  vertical-align: -0.125em;
  font-size: 2.28rem;
}

.container-pin-section-04 .info-wrapper-section-04 {
  position: absolute;
  bottom: 2.28rem;
  left: 2.28rem;
  transition: 0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(-3.57143rem) translateY(3.57143rem);
  opacity: 0;
}

.container-pin-section-04 .info-wrapper-section-04.info-wrapper-active-section-04 {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

.info-wrapper-section-04 .info-container-section-04 {
  width: 21.43rem;
  display: flex;
  padding: 1.42rem;
  background-color: #fff;
  border: 1px solid #eee;
}

.info-wrapper-section-04 .info-container-no-image-section-04 {
  width: auto;
}

.info-wrapper-section-04 .info-container-section-04 .info-main-section-04 {
  flex: 0 0 10.71rem;
  width: 10.71rem;
  padding: 1.43rem 0;
}

.info-wrapper-section-04 .info-container-section-04 .info-main-section-04 .item-name-section-04 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 1.28rem;
  line-height: 130%;
  margin: 0;
}

.info-wrapper-section-04 .info-container-section-04 .info-main-section-04 .separator-section-04 {
  width: 3.57rem;
  height: 1px;
  background-color: #28A5BE;
  display: block;
  margin: 1.07rem 0;
}

.info-wrapper-section-04 .info-container-section-04 .info-main-section-04 .item-description-section-04 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 160%;
  margin: 0;
}

.info-wrapper-section-04 .info-container-section-04 .info-main-section-04 .item-price-section-04 {
  display: block;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: #28A5BE;
  margin: 1.07rem 0 0;
}

.info-wrapper-section-04 .info-container-section-04 .info-graphic-section-04 {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  left: 2.86rem;
}

.info-wrapper-section-04 .info-container-section-04 .info-graphic-section-04 img {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  margin: 1.43rem auto;
  transition: 1.4s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateY(0);
}

.info-wrapper-section-04 .info-container-section-04 .info-graphic-section-04 .graphic-shadow-section-04 {
  position: absolute;
  z-index: 1;
  width: 7.14rem;
  margin-left: -3.57rem;
  left: 50%;
  bottom: 0.71rem;
  height: 0.36rem;
  background-color: #43525A;
  border-radius: 100%;
  filter: blur(7px);
  transform: scale(1);
  transition: 1.8s all cubic-bezier(0.165, 0.84, 0.44, 1);
  display: block;
}

.info-wrapper-section-04 .info-container-section-04:hover .info-graphic-section-04 img {
  transform: translateY(-0.71429rem);
}

.info-wrapper-section-04 .info-container-section-04:hover .info-graphic-section-04 .graphic-shadow-section-04 {
  transform: scale(0.8);
}

.info-wrapper-section-04 .info-container-section-04 .link-section-04 {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -1.28rem;
  right: -1.07rem;
  height: 2.57rem;
  padding: 0 2.14rem;
  font-size: 1rem;
  color: #fff;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  background-color: #28A5BE;
}

.info-wrapper-section-04 .info-container-section-04 .link-section-04:hover {
  background-color: #1b6e7f;
  cursor: pointer;
}

/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.section-06-index-materials {
  padding: 5.71rem 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
}

.materials-list-section-06 {
  display: flex;
  align-items: center;
}

.materials-list-section-06 .materials-preview-left-section-06 {
  position: relative;
  flex: 0 0 16.14rem;
  display: flex;
  align-items: center;
  width: 16.14rem;
  height: 32.86rem;
  overflow: hidden;
}

.materials-list-section-06 .materials-preview-left-section-06 .image-left-section-06 {
  transform: translateX(-21.85714rem);
  width: 29.43rem;
  flex-shrink: 0;
  flex-grow: 0;
  height: auto;
  transition: 1.8s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0.2s;
}

.materials-list-section-06 .materials-preview-left-section-06 .image-left-section-06-inview {
  transform: translateX(-14.71429rem);
}

.materials-list-section-06 .materials-preview-left-section-06 .shadow-left-section-06 {
  display: block;
  position: absolute;
  top: 0;
  left: -0.5rem;
  border-radius: 100%;
  z-index: 2;
  height: 32.86rem;
  width: 0.71rem;
  background-color: #43525A;
  filter: blur(10px);
}

.materials-list-section-06 .materials-text-section-06 {
  text-align: center;
  margin: 0 4.28rem;
  flex: 1 1 100%;
}

.materials-list-section-06 .materials-text-section-06 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 2.28rem;
  line-height: 120%;
  margin: 0 auto 2.14rem;
}

.materials-list-section-06 .materials-text-section-06 p {
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}

.materials-list-section-06 .materials-text-section-06 .link-section-06 {
  padding: 0.86rem 1.78rem;
  color: #28A5BE;
  border: 0.14rem solid #28A5BE;
  display: inline-block;
  text-decoration: none;
  margin: 2.86rem auto 0;
  transition: all 0.3s ease-in-out;
  font-size: 1.14rem;
}

.materials-list-section-06 .materials-text-section-06 .link-section-06:hover {
  cursor: pointer;
  background-color: #28A5BE;
  color: #fff;
}

.materials-list-section-06 .materials-preview-right-section-06 {
  position: relative;
  flex: 0 0 16.14rem;
  display: flex;
  align-items: center;
  width: 16.14rem;
  height: 32.86rem;
  overflow: hidden;
}

.materials-list-section-06 .materials-preview-right-section-06 .image-right-section-06 {
  transform: translateX(8.57143rem);
  width: 29.43rem;
  flex-shrink: 0;
  flex-grow: 0;
  height: auto;
  transition: 1.8s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0.2s;
}

.materials-list-section-06 .materials-preview-right-section-06 .image-right-section-06-inview {
  transform: translateX(1.42857rem);
}

.materials-list-section-06 .materials-preview-right-section-06 .shadow-right-section-06 {
  display: block;
  position: absolute;
  top: 0;
  right: -0.5rem;
  border-radius: 100%;
  z-index: 2;
  height: 32.85714rem;
  width: 0.71429rem;
  background-color: #43525A;
  filter: blur(10px);
}

/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.section-07-index-configurator {
  color: #fff;
  background-image: linear-gradient(-90deg, #1BA5C0 0%, #0C6B8C 100%);
  box-sizing: border-box;
  width: 100%;
  max-width: 1420px;
  padding: 0 1.43rem;
  margin: 0 auto;
}

.container-content-section-07 {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  max-width: 1330px;
  padding: 0 1.43rem;
  margin: 0 auto;
}

.container-content-section-07 .text-section-07 {
  padding: 8.57rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
  max-width: 38.57rem;
  margin-right: 4.28rem;
}

.container-content-section-07 .text-section-07 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 2.28rem;
  line-height: 120%;
  margin: 0 auto 2.14rem;
}

.container-content-section-07 .text-section-07 p {
  font-size: 1.14rem;
  line-height: 160%;
  margin: 0;
}

.container-content-section-07 .text-section-07 .container-link-section-07 {
  display: block;
  width: 100%;
  margin-top: 2.14rem;
}

.container-content-section-07 .text-section-07 .container-link-section-07 .single-link-section-07 {
  display: flex;
  align-items: center;
  font-size: 1.14rem;
}

.container-content-section-07 .text-section-07 .container-link-section-07 .link-section-07 {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 0.71rem 1.43rem;
  display: block;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #2D2D2D;
  color: #fff;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container-content-section-07 .text-section-07 .container-link-section-07 .link-section-07:hover {
  padding: 0.86rem 1.71rem;
  cursor: pointer;
}

.container-content-section-07 .image-section-07 {
  background-image: url("../img/Section-07-Configurator.png");
  display: flex;
  width: 100%;
  background-position: center right;
}

/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.section-08-newsletter-signup {
  display: block;
  color: #43525A;
  padding: 5.71rem 1.43rem 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1330px;
}

.intro-section-08 {
  margin-bottom: 2.86rem;
  width: 100%;
  max-width: 64.29rem;
}

.intro-section-08 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 2.28rem;
  line-height: 2.85rem;
  margin: 0 0 1.78rem;
}

.intro-section-08 p {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  margin: 0.71rem 0;
  font-size: 1rem;
  line-height: 160%;
}

.intro-section-08 p a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: #28A5BE;
  cursor: pointer;
  text-decoration: underline;
}

.intro-section-08 h4 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  margin: 1.07rem 0;
  font-size: 1.28rem;
  line-height: 1.93rem;
  color: #28A5BE;
}

.signup-form-section-08 .container-input-section-08 {
  display: flex;
  width: 100%;
  max-width: 34.28rem;
}

.signup-form-section-08 .container-input-section-08 .input-field-section-08 {
  flex: 1 1 100%;
  font-size: 1.14rem;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  border: 1px solid #ddd;
  padding: 0.71rem;
  cursor: text;
}

.signup-form-section-08 .container-input-section-08 .input-field-section-08:focus {
  outline: none;
}

.signup-form-section-08 .container-input-section-08 .submit-button-section-08 {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0.35rem 1.43rem;
  background-color: #28A5BE;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.14rem;
  transition: 0.3s all ease-in-out;
}

.signup-form-section-08 .container-input-section-08 .submit-button-section-08:hover {
  background-color: #1f8094;
  cursor: pointer;
}

/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.section-09-instagram-feed {
  box-sizing: border-box;
  width: 100%;
  max-width: 1330px;
  padding: 5.71rem 1.43rem 7.14rem;
  margin: 0 auto;
}

/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.section-10-env-responsible {
  display: block;
  background-color: #BEEADF;
  color: #43525A;
  padding: 5.71rem 1.43rem 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1420px;
}

.container-section-10 {
  width: 100%;
  max-width: 1330px;
  padding: 0 1.43rem;
  margin: 0 auto;
}

.container-section-10 .content-section-10 {
  max-width: 71.43rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container-section-10 .content-section-10 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 2.28rem;
  line-height: 2.85rem;
  margin: 0 0 1.78rem;
}

.container-section-10 .content-section-10 p {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  margin: 0.71rem 0;
  font-size: 1rem;
  line-height: 160%;
}

.container-section-10 .image-section-10 {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1.43rem auto 0;
}

/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
.footer {
  background-color: #F6F6F6;
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
  padding-bottom: 3.5rem;
}

.container-footer {
  border-top: 1px solid #ccc;
  padding-top: 3.5rem;
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  align-content: center;
  display: flex;
  box-sizing: border-box;
}

.container-footer .container-footer-logo {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 1.5rem 3.5rem;
  padding: 0.75rem 3.5rem;
  border-right: 1px solid #ccc;
}

.container-footer .container-footer-logo .container-footer-logo-img {
  width: 7.2rem;
  margin: 0 auto 2.8rem;
  display: block;
}

.container-footer .container-footer-menu {
  margin: 1.5rem 0;
  padding: 0.75rem 0;
  display: flex;
}

.container-footer .container-footer-menu .footer-menu-group {
  list-style-type: none;
  margin-right: 3.5rem;
}

.container-footer .container-footer-menu .footer-menu-group .footer-menu-item {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 0.82rem;
}

.container-footer .container-footer-menu .footer-menu-group .footer-link {
  display: block;
  margin-bottom: 1rem;
  color: #43525A;
  text-decoration: none;
  cursor: pointer;
}

.container-footer .container-footer-menu .footer-menu-group .footer-link:hover {
  color: #28A5BE;
  text-decoration: underline;
}

.copyright-footer {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 70%;
  margin: 2.5rem auto 0;
  padding: 0 5%;
  font-size: 0.82rem;
  color: #6F8794;
}

.footer .container-proud-member-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5em;
}

.footer .container-proud-member-footer .text-proud-member-footer {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0.6rem;
  font-size: 0.82rem;
  color: #6F8794;
}

.footer .container-proud-member-footer .logo-footer {
  margin: 1.2rem;
  height: 2.8rem;
  width: auto;
}

.footer .container-proud-member-footer .separator-footer {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  width: 2px;
  background-color: #DDDDDD;
  margin: 0 0.7rem;
  height: 1.1rem;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/06/2018, 01:34:27 PM
    Author     : User
*/
html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: block;
}

.raiz {
  display: block;
}

.layout-main {
  background-color: #F6F6F6;
  font-family: "Muli", cursive;
  font-size: 1rem;
  color: #43525A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
